<h2>POR PAIS</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" (ngSubmit)="buscar()" >
            <input  
            type="text" 
            name="termino" 
            placeholder="Buscar pais..."
            class="form-control"
            [(ngModel)]="termino"
            />
        </form>
    </div>

</div>

<hr>

<div class="alert alert-danger" *ngIf="hayError" >
  No se encontro nada con el {{termino}}
</div>

<div class="row" *ngIf="paises.length > 0" >
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>poblacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody  *ngFor="let pais of paises; let i = index " >
                <tr>
                    <td>{{i}}</td>
                    <td><img [src]="pais.flag" class="small-flag"></td>
                    <td>{{pais.name}}</td>
                    <td>{{pais.population | number}}</td>
                    <td><a [routerLink]= "['/pais',pais.alpha2Code]" >ver....</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
