<h2>POR PAIS</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" (ngSubmit)="buscar()" >
            <input  
            type="text" 
            name="termino" 
            placeholder="Buscar pais..."
            class="form-control"
            [(ngModel)]="termino"
            />
        </form>
    </div>

</div>

<hr>

<div class="alert alert-danger">
    No se encontro nada con el termino .....
</div>

<div class="row" >
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>poblacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>Nombre</td>
                    <td>134434</td>
                    <td><a href="/poblacion/tri">ver....</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
